In [1]:
import pandas as pd

In [2]:
cities = "cities.csv"

In [3]:
cities_df = pd.read_csv(cities)
cities_df.head()

        City  City ID  Location  Temperature  Humidity  Cloudiness  Wind Speed
0    Ushuaia     8303    -54.81       272.15        80          75       11.30
1    Margate     9545    -43.03       281.48        61          75        4.60
2  Cape Town     1899    -33.93       286.15        87           0        5.10
3     Albany     3273     42.65       299.82        88          75        3.60
4  Tuatapere  2008959    -46.13       280.93        79          93        2.24

In [4]:
print(cities_df.to_html())

<bound method DataFrame.to_html of                           City  City ID  Location  Temperature  Humidity  \
0                      Ushuaia     8303    -54.81       272.15        80
1                      Margate     9545    -43.03       281.48        61
2                    Cape Town     1899    -33.93       286.15        87
3                       Albany     3273     42.65       299.82        88
4                    Tuatapere  2008959    -46.13       280.93        79
5                  Port Alfred  2011314    -33.59       289.26        67
6                 Punta Arenas     8487    -53.16       273.15        60
7                      Mataura  2008959    -46.19       280.93        79
8                   Georgetown     8776      6.80       303.15        66
9              Arraial do Cabo     8326    -22.97       294.15        88
10                   Mount Isa     9495    -20.73       283.15        43
11                 Orange Cove     5145     36.62       312.59        27
12                     Wanning     6874     48.64       294.26        77
13                    Tasiilaq       81     65.61       283.15        61
14                 Clyde River      776     70.47       283.15       100
15                    Spornoye     9030     50.84       288.15        51
16                   Hay River      819     60.82       287.15        62
17                    Katsuura     8038     33.93       300.93        94
18                    Klaksvik     1596     62.23       284.15        87
19                    Hermanus  2003650    -34.42       285.37        82
20                     Dunedin    75281    -45.87       281.48        69
21                      Hobart     9545    -42.88       281.48        61
22                 Tuktoyaktuk      942     69.44       277.15        86
23                  Nikolskoye     8926     59.70       282.15        87
24                   Inverness     1435     57.48       289.15       100
25                        Vila     6734     45.18       298.71        69
26               Pacific Grove     4980     36.62       308.71        72
27                    Dangriga     7263     16.97       305.37        75
28                     Kahului     7879     20.89       303.15        70
29                    Victoria     9372      5.28       299.15        94
..                         ...      ...       ...          ...       ...
259                      Nandi     9208     13.39       294.15       100
260                  Crestview     3951     30.76       307.15        83
261                  Galveston     5194     40.58       302.59        58
262                     Plerin     6562     48.54       291.15        77
263                       Kaeo  2016422    -35.10       287.04       100
264                   Carballo     6403     43.21       293.15       100
265                     Olinda     9548    -37.84       284.26        66
266                    Sakrand     7587     26.14       302.15        74
267              Venado Tuerto  2011346    -33.75       289.26        51
268                      Dubai     7537     25.27       307.15        71
269                 Den Helder     1533     52.96       292.59        68
270                      Bajil  2013233     38.23       294.82        40
271                     Itoman     8137     26.12       301.15        88
272                     Riyadh     7424     24.63       306.15        19
273                   Ngunguru  2012217    -35.62       284.26        95
274                    Moissac     6455     44.11       299.15        69
275                  Semypolky     8898     50.72       289.15        71
276                 Isla Vista     4558     34.41       309.82        42
277                   Smithers      990     54.78       300.15        42
278                   Hoa Binh     9308     20.81       301.15       100
279                 Warrington     1399     53.39       289.82        87
280  Petropavlovsk-Kamchatskiy     8887     53.05       286.15        93
281                  Plainview     5443     34.18       309.82        32
282                   Buraydah     7411     26.33       304.15        27
283                   Carbonia     6720     39.17       301.15        83
284             Fredericksburg     5990     30.28       310.37        32
285                   Evanston     5228     42.04       303.15        45
286                    Cayenne     8669      4.94       299.15        83
287                   Acapulco     7103     16.86       305.15        66
288                  Elk Point      870     53.90       289.15        55

     Cloudiness  Wind Speed
0            75       11.30
1            75        4.60
2             0        5.10
3            75        3.60
4            93        2.24
5             0        3.13
6            75       12.90
7            88        2.24
8            40        2.10
9            75        5.10
10           66        2.60
11            0        2.60
12           75        1.50
13           89        3.60
14           75        1.50
15            0        3.00
16           40        4.60
17           75        2.10
18          100        5.10
19          100        1.79
20           58        1.79
21           75        4.60
22           90        5.70
23            0        2.00
24          100        2.10
25           75        2.10
26           75        5.70
27           75        4.60
28           75        3.10
29           90        2.60
..          ...         ...
259          75        8.20
260          40        5.10
261          75        3.10
262           0        2.10
263          39        3.12
264          75        0.50
265          90        4.60
266          24        5.10
267           0        3.13
268           0        3.10
269           0        6.20
270           0        0.89
271          40        6.20
272           0        2.60
273          42        0.45
274           0        2.60
275           0        2.00
276           1        6.20
277          40        2.10
278           5        2.60
279          20        5.70
280          75        4.00
281           1        3.60
282           0        6.20
283           0        3.10
284          75        2.60
285          40        4.10
286          75        1.00
287          75        5.10
288          75        5.70

[289 rows x 7 columns]>