In [1]:
# Import Dependencies
import pandas as pd

In [2]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [6]:
# Merge the two DataFrames together based on the Dates they share
combined_df = pd.merge(dash_df, bitcoin_df, on="Date")
combined_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000",438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000"
1,16-Sep-17,284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000",424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000"
2,15-Sep-17,236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000",369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000"
3,14-Sep-17,301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000",504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000"
4,13-Sep-17,324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000",509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000"

In [12]:
# Rename columns so that they are differentiated
organized_df = combined_df.rename(columns={"Date": "Date", "Open_x": "Dash Open", "High_x": "Dash High", "Low_x": "Dash Low", "Close_x": "Dash Close", "Volume_x": "Dash Volume", "Market Cap_x": "Dash Market Cap"
                                 "Open_y": "Bitcoin Open", "High_y": "Bitcoin High", "Low_y": "Bitcoin Low", "Close_y": "Bitcoin Close", "Volume_y": "Bitcoin Volume", "Market Cap_y": "Bitcoin Market Cap"}
organized_df.head()

SyntaxError: invalid syntax (<ipython-input-12-13b56b8c007b>, line 3)

In [11]:
# alternatively you can set your suffixes when the merge occurs
combined2_df = pd.merge(dash_df, bitcoin_df, on="Date", suffixes= ('_Dash', '_Bitcoin'))
combined2_df.head()

,Date,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market Cap_Dash,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market Cap_Bitcoin
0,17-Sep-17,298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000",438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000"
1,16-Sep-17,284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000",424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000"
2,15-Sep-17,236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000",369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000"
3,14-Sep-17,301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000",504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000"
4,13-Sep-17,324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000",509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000"

In [13]:
# Collecting best open for Bitcoin and Dash
best_open_dash = organized2_df.max(3, :)
best_open_bitcoin = organized2_df.max(9, :)

# Collecting best close for Bitcoin and Dash
best_close_dash = organized2_df.max(5, :)
best_close_bitcoin = organized2.df(11,:)

# Collecting the total volume for Bitcoin and Dash
volume_dash = organized2_df.sum(6,:)
volume_bitcoin = organized2_df.sum(12, :)

SyntaxError: invalid syntax (<ipython-input-13-cc2a7a8a7de4>, line 2)

In [ ]:
# Creating a summary DataFrame using above values
summary_df = {"Best Open": [best_open_dash, best_open_bitcoin], "Best Close": [best_close_dash, best_close_bitcoin], "Total Volume": [volume_dash, volume_bitcoin]}
summary_df.head()